* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: auto;
    width: auto;
}

.header#odin-recipes {
    display: block;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: blue;
    color: orange;
    margin: auto;
    padding: 5px;
    border: 3px solid red;

}

.container {
    display: block;
    background-color: red;
    text-align: center;
    width: 300px;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    border: 3px solid black;
    font-size: medium;
}