* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.recipes-container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}